@model IEnumerable<Proyecto_web_MVC_1P.Models.Calificacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntuacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCalificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntuacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCalificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCalificacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCalificacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCalificacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
