@model IEnumerable<Proyecto_web_MVC_1P.Models.Proyecto_web_MVC_1P.Models.Compra>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Usuario)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Producto)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FechaCompra)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Usuario.Contraseña)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Producto.Categoria)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FechaCompra)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> |
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Detalles</a> |
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<p>
	<a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@section Styles {
	<link href="@Url.Content("~/css/index.css")" rel="stylesheet" />
}